
<ul>
    <li><a href="https://localhost:44345/">Home</a></li>
    <li><a href="https://localhost:44345/Reeksen">Reeksen</a></li>
    <li><a href="https://localhost:44345/Teksten">Teksten</a></li>
</ul>