@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a href="https://localhost:44345/Home">Home</a></li>
    <li><a href="https://localhost:44345/Reeksen">Reeksen</a></li>
    <li><a href="https://localhost:44345/Teksten">Teksten</a></li>
</ul>
